<div style="width: 15%; display: table;">
    <div style="display: table-row">
        <div style="display: table-cell;"> 
            <a href="https://twitter.com/intent/tweet?screen_name=sai_dp&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @sai_dp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
    </div>
    <div style="display: table-row">
        <div style="display: table-cell;"> 
            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="https://www.linkedin.com/in/saideep-gajula/"></script> 
        </div>
    </div>
</div>
